@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@import "tailwindcss/preflight";

@tailwind utilities;


:root {
  --background: rgb(250, 255, 253);
  --foreground: #5a5a5a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.specialization {
background: #025C5C;
background: -webkit-linear-gradient(180deg, rgba(2, 92, 92, 1) 42%, rgba(255, 255, 255, 1) 42%);
background: -moz-linear-gradient(180deg, rgba(2, 92, 92, 1) 42%, rgba(255, 255, 255, 1) 42%);
background: linear-gradient(180deg, rgba(2, 92, 92, 1) 42%, rgba(255, 255, 255, 1) 42%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#025C5C", endColorstr="#FFFFFF", GradientType=0);
}